body {
    font-family: 'Raleway ', arial;
   
}

#blocpage {
    margin-bottom: 30px;
    margin-left: 10px; 
    margin-right: 10px;
}



/* header */

#logo {
    display: flex;
   flex-direction: row;
    height: 40px;
    width: 80px;
}

#menus {
    position: absolute;
    width: 25%;
    right: 0px;
    top: 10px;
}

#menus li {
    float: left;
    padding: 4%;
    margin: 0%; 
}

.inscrip {
    color: blue;
}
.blue {
    color: blue;
    border-top: 2px solid #0065FC;
    margin-top: -40px;
    padding-top: 45px;
}

.black {
    color: black;
}

a {
    display: block;
    padding: 8px;
    border-color: blue;
    text-decoration: none;
}


h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 2px;
}

p {
    margin-top: 10px;
}

/* BARRE DE RECHERCHE */

.barre {
    display: flex;
    flex-wrap: nowrap;
    
}

.point {
    margin-top: 0px;
    margin-left: 0px;
    border: 1px;
    border-radius: 12px 0px 0px 12px;
    height: 30px;
    width: 30px;
    background-color:  #F2F2F2;
    padding-left: 20px;
    padding-top: 10px;
}

#search {
    
    block-size: 40px;
    border: 2px solid  #F2F2F2;
}

#search::placeholder {
    font-weight: bold;
    color: black;
}

button {
    background-color:#0065FC;
    border-color: #0065FC;
    color: white;
    border-radius: 0px 12px 12px 0px;
    height: 42px;
    margin-top: -2px;
    margin-left: -2px;
    
}


.rech {
    color: white;
}

/* FILTRES */


.filtres {
    display: flex;
}


.titres_filtres {
    color: black;
    text-align: left;
    font-weight: bold;
    margin-top: 0px;
    font-size: 15px;
}

a:hover .titres_filtres {
    background-color: #DEEBFF;
    border-radius: 20px;
    height: 40px;
    margin-top: -10px;
}

.ico {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.aco {
    font-weight: bold;
    margin-top: 0px;
}
.eco1, .eco2, .eco3, .eco4 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    color: #F2F2F2;
    block-size: 40px;
    border: 3px solid #F2F2F2;
    border-radius: 20px;
    border-left: none;
    height: 35px;
    
  }



.icone {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #DEEBFF;
    padding: 0.5em 0.5em;
    text-align: center;
    margin-top: 0px;
    }

.infofiltres {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.in {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    border: 2px solid #f2f2f2;
    padding: 0.5em 0.5em;
    text-align: center;
    }
    
    .info {
        margin-left: 10px;
   }

/* SECTION HEBERGEMENTS */

.heberetaside {
    display: flex;
    flex-direction: row-reverse;    
    margin-left: 0px;
}

#hebergements {
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
     }


h2 {
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
}

h3 {
    margin-top: 40px;
}

#hotel {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;

}
 


.heberg {
    background-color: white;
    border-radius: 20px;
    width: 260px;
    height: 210px;
    margin: 0;
    padding: 0px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 20px; 
}

.heberg img {
    border-radius: 20px 20px 0px 0px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 250px;
    height: 130px;
}

figcaption {
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
}

i.far {
    color: grey;

}


.star {
    font-size: 12px;
    color: #0065FC;
    margin-top: -10px;
    margin-left: 10px;
}
.prix {
    color: black;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 3px;
    
}



/* ASIDE */


#popula {
    background-color: #F2F2F2;
    border-radius: 20px; 
    margin-top: 10px;
    height: 650px;
    margin-left: 50px;
 } 
 

h3 {
    font-weight: bold;
    font-size: 20px;
    padding-left: 40px;
    color: black;
    padding-top: 0px;
   
   }

#popula img {
    border-radius: 20px 0px 0px 20px;
    padding-left: 5px;
    height: 140px;
    width: 150px;
    }
.popul2, .popul3 {
    margin-top: 20px;
}

.popul {
    margin-top: 0px;
}

.popul, .popul2, .popul3 {
    display: flex;
    padding-top: 10px;
    background-color: white;
    border-radius: 20px;
    height: 145px;
    width: 350px;
}

.fleche {
    float: right;
    margin-top: -50px;
    margin-right: 40px;
    color: black;
    font-size: 20px;
    }


#ho {
    font-size: 15px;
    color: black;
    font-weight: bold;
    padding-left: 0px;
    padding-top: 10px;
}

.star2{
    font-size: 12px;
    color: #0065FC;
    padding-top: 20px;
    padding-left: 10px;
}


.nuit {
    color: black;
    padding-left: 10px;
}


/* SECTION ACTIVITES */
h5 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 5px;
}
#acti {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-column-gap: 20px;
    width: 100%;
    
}
.to, .to2 {
    display: grid;
    grid-gap: 0px;
   }
.to {
   margin-left: -25px;
}
.to2 {
   
}
.calanques {
   

}
.port {
    margin-left: 0;
}
.port, .calanques, .fort, .ile, .notredame, .longchamp {
    border-radius: 25px;
    width: 100%;
    box-shadow: 0px 5px 5px #DEEBFF;
}
.port img, .calanques img {
    height: 390px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px 25px 0 0;
}
.fort img {
    height: 182px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px 25px 0 0;
}
.ile img {
    height: 108px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px 25px 0 0;
}
.notredame img {
    height: 138px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px 25px 0 0;
}
.longchamp img {
    height: 152px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px 25px 0 0;
}
#legende {
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
}

/* FOOTER */

footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
}

ul {
    list-style-type: none;
}

h4 {
    margin-left: 50px;
}
.foot {
    color: black;
}
.bloc1 {
    margin-top: 20px;
}
.bloc2 {
    margin-top: 20px;
    margin-left: 20%;
  }

.bloc3 {
    margin-left: 20%;
    margin-top: 20px;
}


/* RESPONSIVE */

@media only screen and (min-width: 321px) {
    h1 {
        font-size: 40px;
    }
    #hebergements {
        background-color: yellow;
    }
}
@media only screen and (min-width : 800px) {
    h1 {
        font-size: 20px;
    }
    #hebergements {
        background-color: aqua;
    }
}
    













