body {
    font-family: 'Raleway ', arial;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 50px;
}

#blocpage {
    width: 1100px;
    margin: 10px;
}
    
#logo {
   display: flex;
   flex-direction: row;
    align-items: baseline;
    height: 40px;
    width: 80px;
}

#menus {
    margin: 0%;
    padding: 0%;
    float: center;
    position: absolute;
    top: 20px;
    width: 25%;
    right: 0px;
    
}

#héber li {
    color: blue;
}

#menus li {
    float: left;
    display: inline;
    padding: 4%;
    margin: 0%;
}

a {
    display: block;
    padding: 8px;
    border-color: blue;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 2px;
}

p {
    margin-top: 10px;
}

button {
    background-color:#0065FC;
    color: white;
    border-radius: 12px;
}


.filtres {
    display: flex;
}


.titres_filtres {
    color: black;
    text-align: left;
}
.ico {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    
}

.aco {
    font-weight: bold;
    margin-top: 10px;
}
.eco {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    
}
.infofiltres {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.info {
    margin-top: 10px;
    margin-left: 20px;
}

.icone {
    display: inline-block;
    box-shadow: 0px 0px 2px #888;
    border-radius: 100%;
    border-color: blue;
    padding: 0.6em 0.6em;
    text-align: center;
    }

h2 {
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
}

h3 {
    font-weight: bold;
    padding-left: 40px;
    padding-bottom: 10px;
    color: black;
   
   }

#Hébergements {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 85%;
    height: 0%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    margin-top: 0px;
}

#hotel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
}

.titre_aside {
    padding-top: 100px;
    color: black;
}

.Popu {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 40%;
    height: 50%;
    position: relative;
    top: -610px;
    left: 970px;
    right: 300px;
    padding-bottom: 10px;
}


.popul {
    display: flex;
    border-top: 20%;
    padding-top: 0px;
    background-color: white;
    border-radius: 20%;
    border-width: 10%;
}

.fleche {
    position: absolute;
    left: 350px;
    top: 20px;
    color: #0065FC;
    font-size: 20px;
}

.héberg {
    background-color: white;
    border-radius: 20%;
    border-width: 10%;
}

}

#ho {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.nuit {
    color: black;
}

.star {
    font-size: 12px;
    color: #0065FC;
}
.star2{
    font-size: 12px;
    color: #0065FC;
    padding-top: 30px;
}


#Activités {
    border-radius: 20px;
    width: 130%;
    height: 20%;
    margin-bottom: 5%;
    }

    
    h4 {
        font-size: 20px;
    }

#Acti {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 20px;
   }

#legende {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Port  {
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px grey;
    background-color: white;
    margin-top: 10px;
    block-size: 450px;
}
.Port img {
    width: 300px;
    height: 400px;
}
.Fort {
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px grey;
    background-color: white;
    margin-top: 10px;
    block-size: 250px;
   
}
.Fort img {
    width: 300px;
}
.Ile {
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px grey;
    background-color: white;
    block-size: 170px;
    margin-top: 40px;
}
.Ile img {
    width: 300px;
    height: 120px;
}
.To {
    
    
}
.Calanques {
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px grey;
    background-color: white;
    block-size: 450px;
    }
.Calanques img {
    width: 300px;
    height: 400px;
}
.NotreDame {
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px grey;
    background-color: white;
    block-size: 200px;
}
.NotreDame img {
    width: 300px;
    height: 150px;
}
.Longchamp {
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px grey;
    background-color: white;
    margin-top: 40px;
}
.Longchamp img {
    width: 300px;
    height: 150px;
}
.To2 {
    
    
}

footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    float: center;
    position: absolute;
    width: 100%;
    margin-left: -50px;
}
ul {
    list-style-type: none;
}

.bloc2 {
    margin-left: 20%;
  }

.bloc3 {
    margin-left: 20%;
}









