body {
    font-family: 'Raleway ', arial;
   
}

#blocpage {
    margin-bottom: 30px;
    margin-left: 10px; 
    margin-right: 10px;
}



/* header */

#logo {
    height: 40px;
    width: 80px;
}

.menu ul {
    display: flex;
    float: right;
    margin-top: -20px;
    margin-right: 50px;
}

.inscrip {
    color: blue;
    float: right;
    margin-top: 20px;
}
.blue {
    color: blue;
    border-top: 2px solid #0065FC;
    padding-top: 30px;
    margin-top: -30px;
    margin-right: 40px;
    }

.black {
    color: black;
    margin-top: -5px;
}

a {
    display: block;
    padding: 8px;
    border-color: blue;
    text-decoration: none;
}


h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 2px;
}

p {
    margin-top: 10px;
}

/* BARRE DE RECHERCHE */

.barre {
    display: flex;
    flex-wrap: nowrap;
    
}

.point {
    margin-top: 0px;
    margin-left: 0px;
    border: 1px;
    border-radius: 12px 0px 0px 12px;
    height: 30px;
    width: 30px;
    background-color:  #F2F2F2;
    padding-left: 20px;
    padding-top: 10px;
}

#search {
    height: 42px;
    border: 2px solid  #F2F2F2;
}

#search::placeholder {
    font-weight: bold;
    color: black;
}

button {
    background-color:#0065FC;
    border-color: #0065FC;
    color: white;
    border-radius: 0px 12px 12px 0px;
    height: 42px;
    margin-top: -2px;
    margin-left: -2px;
    
}
.fas.fa-search {
    display: block;
    margin-top: 20px;
}


.rech {
    color: white;
}

/* FILTRES */


.filtres {
    display: flex;
}


.titres_filtres {
    color: black;
    text-align: left;
    font-weight: bold;
    margin-top: 0px;
    font-size: 15px;
}

.eco-filters:hover {
    background-color: #DEEBFF;
    border-radius: 80px;
    height: 40px;
    transition: 500ms;
}
.eco-filters:hover .icone {
    background-color: #0065FC;
}
.eco-filters:hover .fa-icone {
    color: white;
}
.ico {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.fa-icone {
    color: #0065FC;
}

.aco {
    font-weight: bold;
    margin-top: 0px;
}
.eco1, .eco2, .eco3, .eco4 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    color: #F2F2F2;
    block-size: 40px;
    border: 3px solid #F2F2F2;
    border-radius: 20px;
    border-left: none;
    height: 35px;
    
  }



.icone {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #DEEBFF;
    padding: 0.5em 0.5em;
    text-align: center;
    margin-top: 0px;
    }

.infofiltres {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.in {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    border: 2px solid #f2f2f2;
    padding: 0.5em 0.5em;
    text-align: center;
    }
    
    .info {
        margin-left: 10px;
   }

/* SECTION HEBERGEMENTS */

.heberetaside {
    display: flex;
    flex-direction: row-reverse;    
    margin-left: 0px;
}

#hebergements {
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
     }


h2 {
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
}

h3 {
    margin-top: 40px;
}

#hotel {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;

}
 
.heberg {
    background-color: white;
    border-radius: 20px;
    width: 260px;
    height: 210px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 20px; 
}

.heberg img {
    border-radius: 20px 20px 0px 0px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 250px;
    height: 130px;
}

figcaption {
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
}


i.far {
    color: grey;
}


.star {
    font-size: 12px;
    color: #0065FC;
    margin-top: -10px;
    margin-left: 10px;
}
.prix {
    color: black;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 3px;
    
}

/* ASIDE */

#popula {
    background-color: #F2F2F2;
    border-radius: 20px; 
    margin-top: 10px;
    height: 650px;
    margin-left: 50px;
 } 
 

h3 {
    font-weight: bold;
    font-size: 20px;
    padding-left: 40px;
    color: black;
    padding-top: 0px;
   
   }

#popula img {
    border-radius: 20px 0px 0px 20px;
    padding-left: 5px;
    height: 140px;
   
    padding-top: 5px;
    
    }
.popul2, .popul3 {
    margin-top: 30px;
}

.popul {
    margin-top: 0px;
}

.popul, .popul2, .popul3 {
    display: flex;
    background-color: white;
    border-radius: 20px;
    height: 150px;
    width: 350px;
}

.fleche {
    float: right;
    margin-top: -50px;
    margin-right: 40px;
    color: black;
    font-size: 20px;
    }


#ho {
    font-size: 15px;
    color: black;
    font-weight: bold;
    padding-left: 0px;
    padding-top: 10px;
}

.star2{
    font-size: 12px;
    color: #0065FC;
    padding-top: 20px;
    padding-left: 10px;
}


.nuit {
    color: black;
    padding-left: 10px;
}


/* SECTION ACTIVITES */
h5 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 5px;
}
#acti {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-column-gap: 20px;
    width: 100%;
    
}
.to, .to2 {
    display: grid;
    grid-gap: 0px;
   }
.to {
   margin-left: -20px;
}
.to2 {
    margin-left: 40px;
}

.port {
  margin-left: 0;
}
.calanques {
    margin-left: 60px;
}
.port, .calanques, .fort, .ile, .notredame, .longchamp {
    border-radius: 25px;
    width: 100%;
    box-shadow: 0px 5px 5px #DEEBFF; 
}

.port img, .calanques img {
    height: 390px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px 25px 0 0;
}
.fort img {
    height: 182px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}
.ile img {
    height: 108px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px 25px 0 0;
}
.notredame img {
    height: 138px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px 25px 0 0;
}
.longchamp img {
    height: 152px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px 25px 0 0;
}
#legende {
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
}

/* FOOTER */

footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
}

ul {
    list-style-type: none;
}

h4 {
    margin-left: 50px;
}
.foot {
    color: black;
}
.bloc1 {
    margin-top: 20px;
}
.bloc2 {
    margin-top: 20px;
    margin-left: 20%;
  }

.bloc3 {
    margin-left: 20%;
    margin-top: 20px;
}


/* RESPONSIVE */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */

    #logo {
        width: 300px;
        height: auto;
        margin-top: 50px;
    }
   
   .menu ul {
       width: 100%;
      
   }
    .menu ul li {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 50px;
        border-bottom: solid 4px #f2f2f2;
        padding-bottom: 20px;
       
    }
    .menu ul li:hover {
        border-bottom: solid 4px #0065FC;
    }
    .inscrip {
        float: right;
        margin-top: 80px;
        margin-right: -150px;
        color: #0065FC;
    }
    
    .blue {
      
        color: #0065FC;
        border-top: none;
        
    }
    
    .inscrip, .black, .blue {
        font-size: 50px;
    }
    .presentation { 
        margin-top: 200px;
        width: 100%;
        font-size: 40px;
        margin-left: 40px;
    }
    h1 {
        font-size: 60px;
        padding-bottom: 20px;
    }
    .barre {
        padding-top: 50px;
        width: 1100px;
        margin-left: 20px;
        
    }
   .point {
       width: 150px;
       height: 110px;
       font-size: 60px;
       text-align: center;
       padding-top: 40px;
       margin-left: 40px;
       border-radius: 40px 0px 0px 40px;
   }
   
   #search {
       height: 150px;
       width: 800px;
   }
   .rech {
       display: none;
   }
   
   .fas.fa-search {
       font-size: 50px;
   }

   button {
       height: 150px;
       width: 200px;
       border-radius: 40px;
       margin-left: -10px;
   }
   ::placeholder {
       font-size: 40px;
       padding-left: 20px;
   }
   .icone {
       width: 90px;
       height: 90px;
       font-size: 70px;
   }
   .titres_filtres {
       font-size: 50px;
       padding-top: 30px;
       padding-left: 20px;
   }
   .filtre1 {
       font-size: 50px;
       margin-left: 40px;
       padding-bottom: 20px;
   }
   .eco-filters:hover {
    background-color: #DEEBFF;
    border-radius: 80px;
    height: 150px;
    transition: 500ms;
    }
    .eco-filters:hover .icone {
    background-color: #0065FC;
    }
    .eco-filters:hover .fa-icone {
    color: white;
    }   
    .eco1 {
        border: 5px solid;
     margin-top: 100px;
     height: 150px;
     width: 60%;
     margin-left: -160px;
     border-radius: 80px;
     }
    .eco2 {
        border: 5px solid;
        margin-top: 100px;
        width: 50%;
        height: 150px;
        border-radius: 80px;
    }
    .eco3 {
        border: 5px solid;
        height: 150px;
        width: 60%;
        margin-top: 300px;
        margin-left: -1100px;
        border-radius: 80px;
    }
    .eco4 {
        border: 5px solid;
        margin-top: 500px;
        margin-left: -580px;
        border-radius: 80px;
        height: 150px;
        width: 80%;
    }
    .infofiltres {
        margin-left: 40px;
        padding-top: 100px;
    }
    .in {
        border: 3px solid #DEEBFF;
        font-size: 50px;
        width: 50px;
        height: 50px;

    }
    .info {
        font-size: 40px;
        padding-left: 20px;
    }
 
    h3 {
        font-size: 60px;
        padding-top: 20px;
        
    }
    .fleche {
        font-size: 50px;
        margin-left: 500px;
        margin-top: -140px;
     } 
    #hebergements {
        background-color: white;
       width: 1200px;
       margin-left: -10px;
       margin-top: 200px;
    }
    h2 {
        font-size: 60px;
        margin-left: 10px;
    }
    .heberg {
        border: 3px;
        box-shadow: 3px 3px 3px 3px #F2F2F2;
        border-radius: 40px;
        width: 1100px;
        height: 100%;
        margin-bottom: 40px;
    }
    .heberg img {
        border-radius: 40px 40px 0px 0px;
        width: 100%;
        height: 400px;
       padding-left: 0px;
       padding-top: 0px;
       }
    figcaption {
        font-size: 50px;
    }
    .prix {
        font-size: 40px;
        padding-top: 10px;
    }
    .star {
        font-size: 40px;
    }

    #activites {
        width: 1100px;
    }
    h5 {
        font-size: 60px;
        margin-left: 40px;
    }
    #activites img {
        width: 1100px;
        height: 450px;
        border-radius: 40px 40px 0px 0px;
        margin-left: -10px;
    }
    #acti {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .port {
        margin-top: 40px;
        width: 1100px;
        height: 600px;
        margin-left: 20px;
        border-radius: 40px;
        
    }  
    .calanques {
        margin-top: 40px;
        width: 1100px;
        height: 600px;
        margin-left: 20px;
    }
    .fort {
        width: 1100px;
        height: 600px;
        margin-top: 40px;
    }
    .longchamp {
        width: 1100px;
        height: 600px;
        margin-left: 0px;
        margin-top: 40px;
    }
    .ile {
        margin-left: 40px;
        width: 1100px;
        height: 600px;
        margin-top: 40px;
    }
    .notredame {
        margin-top: 40px;
        margin-left: -10px;
        width: 1100px;
        height: 600px;
    }
    #legende {
        font-size: 50px;
        padding-top: 40px;
        margin-left: 20px;
    }
    
    
    footer {
        width: 1200px;
        height: 1300px;
        margin-top: 80px;
    }
    .bloc1 {
       
        margin-left: 20px;
        font-size: 50px;
    }
    .bloc2 {
        margin-top: 500px;
        position: absolute;
        margin-left: 20px;
        font-size: 50px;
    }
    .bloc3 {
        margin-top: 900px;
        position: absolute;
        margin-left: 20px;
        font-size: 50px;
    }
   
 }

    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        /* Styles */
            #logo {
                width: 150px;
                height: auto;
                margin-top: 20px;
            }
            .menu {
                margin-top: -50px;
            }
            .blue {
                border-top: none;
                margin-top: -27px;
            }
            h1, p {
                font-size: 30px;
                padding-top: 20px;
            }
            .barre {
                padding-top: 20px;
            }
            .point {
                width: 5%;
                height: 50px;
            }
            #search {
                width: 50%;
                height: 60px;
            }
            button {
                width: 20%;
                height: 60px;
            }
            .fas.fa-map-marker-alt {
                font-size: 30px;
                padding-left: 5px;
                
            }
            .fas.fa-search {
                display: none;
            }
            .rech {
                font-size: 25px;
            }
            #search::placeholder {
                font-size: 20px;
                color: grey;
            }
            .icone {
                width: 40px;
                height: 40px;
                font-size: 30px;
            }
            .ico {
                flex-direction: column;
            }
            .eco1, .eco2, .eco3, .eco4 {
                height: 70px;
                width: 30%;
                margin-bottom: 20px;
                border-radius: 80px;
                margin-left: 100px;
            }
            .titres_filtres {
                font-size: 20px;
            }
            .in {
                width: 40px;
                height: 40px;
            }
            .fas.fa-info {
                font-size: 25px;
                padding-top: 10px;
            }
            .info {
                font-size: 20px;
            }
            .heberetaside {
                flex-direction: column;
            }
            #popula {
                margin-left: 0px;
            }
           
            .popu{
                margin-left: 200px;
                }
            .fleche {
                margin-top: -70px;
            }
            .popul, .popul2, .popul3 {
                height: 150px;
            }
            .nuit {
                font-size: 20px;
                padding-top: 5px;
            }
            #ho {
                font-size: 20px;
            }
            .star2 {
                padding-top: 5px;
            }
            .heberg {
                width: 400px;
                height: 250px;
            }
            .heberg img {
                width: 390px;
            }
            figcaption {
                font-size: 20px;
            }
            .prix {
                margin-top: -10px;
                font-size: 20px;
            }
            .star {
                margin-top: -20px;
                font-size: 20px;
            }
            }
        @media only screen and (min-width: 481px) and (max-width: 760px) {

            #logo {
                width: 100px;
                height: auto;
                padding-top: 10px;
                padding-left: 20px; 
               }
               .menu {
                   margin-right: 50px;
               }
               .black {
                margin-top: -15px;
                padding-right: 20px;
            }
            .blue {
                border-top: none;
                margin-top: -37px;
                
            }
            .inscrip {
                margin-top: 25px;
            }
        
            
            .inscrip, .black, .blue {
                font-size: 15px;
            }
            .presentation { 
                margin-top: 10px;
                width: 100%;
                font-size: 20px;
                margin-left: 20px;
                margin-bottom: 40px;
            }
            h1 {
                font-size: 25px;
            }
           
           .point {
               width: 100px;
               height: 60px;
               font-size: 25px;
               text-align: center;
               padding-top: 10px;
               margin-left: 40px;
               border-radius: 40px 0px 0px 40px;
           }
           
           #search {
               width: 500px;
               height: 70px;
              
           }
           .rech {
            display: none;
           }
           .fas.fa-search {
            display: block;
            font-size: 20px;
            padding-bottom: 30px;
           }
           button {
              
               height: 70px;
               width: 150px;
               border-radius: 40px;
               margin-left: -10px;
           }
           ::placeholder {
               font-size: 20px;
           }
           .icone {
               width: 30px;
               height: 30px;
               font-size: 20px;
               margin-top: -5px;
           }
           .titres_filtres {
               font-size: 15px;
               padding-top: 5px;
               padding-left: 20px;
           }
           .filtre1 {
               font-size: 20px;
               margin-left: 20px;
               padding-bottom: 20px;
               margin-top: 0px;
           }
        
            .eco1 {
                border: 3px solid;
             margin-top: 50px;
             height: 40px;
             width: 200px;
             margin-left: -70px;
             border-radius: 80px;
             }
            .eco2 {
                border: 3px solid;
                margin-top: 50px;
                margin-left: 20px;
                width: 200px;
                height: 40px;
                border-radius: 80px;
            }
            .eco3 {
                border: 3px solid;
                height: 40px;
                width: 200px;
                margin-top: 110px;
                margin-left: -435px;
                border-radius: 80px;
            }
            .eco4 {
                border: 3px solid;
                margin-top: 170px;
                margin-left: -205px;
                border-radius: 80px;
                height: 40px;
                width: 250px;
            }
            .infofiltres {
                margin-left: 10px;
                padding-top: 10px;
            }
            .in {
                border: 3px solid #DEEBFF;
                font-size: 15px;
                width: 15px;
                height: 15px;
        
            }
            .info {
                font-size: 20px;
                padding-left: 20px;
            }
            #popula {
                border-radius: 0px;
                margin-top: 0px;
                width: 500px;
                height: 800px;
                margin: 0;
            }
            #popula img {
                width: 180px;
                height: 180px;
                padding-top: 0px;
                padding-left: 10px;
                border-radius: 40px 0px 0px 40px;
            }
            h3 {
                font-size: 20px;
                margin-left: -20px;
            }
            .fleche {
                font-size: 20px;
                margin-left: 500px;
            }
            .popul, .popul2, .popul3 {
                width: 450px;
                height: 190px;
                border-radius: 40px;
                margin-left: 20px;
            }
            #ho {
                font-size: 20px;
                padding-left: 10px;
            }
            .nuit {
                font-size: 15px;
                padding-left: 20px;
            }
            .star2 {
                font-size: 15px;
                padding-top: 50px;
                padding-left: 20px;
            }
            .heberetaside {
                display: inline-block;
            }
            #hebergements {
               width: 500px;
               margin: 0;
        
            }
            h2 {
                font-size: 20px;
                margin-left: -10px;
            }
            #hotel {
                margin-left: -10px;
            }
            .heberg {
                
                border-radius: 40px;
                box-shadow: 3px 3px 3px 3px #F2F2F2;
                height: 270px;
                width: 450px;
                margin-left: 20px;
            }
            .heberg img {
                border-radius: 40px 40px 0px 0px;
               width: 450px;
               height: 170px;
               padding-left: 0px;
               padding-top: 0px;
               }
            figcaption {
                font-size: 20px;
            }
            .prix {
                font-size: 15px;
                padding-top: 10px;
            }
            .star {
                font-size: 15px;
            }
        
            #activites {
                width: 450px;
            }
            h5 {
                font-size: 20px;
                margin-left: 20px;
            }
            #activites img {
                width: 450px;
                height: 170px;
                margin-left: -10px;
            }
        
            #acti {
                display: flex;
                flex-direction: column;
                margin-left: 20px;
            }
            .port {
                margin-top: 40px;
                width: 450px;
                height: 250px;
                margin-left: -5px;
            }  
            .calanques {
                margin-top: 20px;
                width: 450px;
                height: 250px;
                margin-left: 20px;
            }
            .fort {
                margin-top: 20px;
                margin-left: 20px;
                width: 450px;
                height: 250px;
            }
            .ile {
                width: 450px;
                height: 250px;
                margin-left: 20px;
            }
            .calanques {
                width: 450px;
                height: 250px;
                margin-left: 0px;
        
            }
            .notredame {
                width: 450px;
                height: 250px;
                margin-left: 0px;
            }
            .longchamp {
                width: 450px;
                height: 250px;
                margin-left: 0px;
            }
            #legende {
                font-size: 20px;
            }
            
            
            footer {
                width: 100%;
                height: 600px;
            }
            .bloc1 {
               
                margin-left: 20px;
                font-size: 20px;
            }
            .bloc2 {
                padding-top: 30px;
                margin-top: 200px;
                position: absolute;
                margin-left: 20px;
                font-size: 20px;
            }
            .bloc3 {
                margin-top: 370px;
                padding-top: 20px;
                position: absolute;
                margin-left: 20px;
                font-size: 20px;
            }
        } 
        
        @media screen and (min-width: 761px) and (max-width: 1500px) {
            #menus {
                display: flex;
                margin-right: 150px;
            }
            .heberetaside {
                flex-direction: column;
            }
            #popula {
                height: 650px;
                margin-left: 0px;
            }
            .popul {
               width: 400px;
                margin-top: 20px;
            }
            .popul2 {
                width: 400px;
            }
            .popul3 {
                width: 400px;
            }
            .heberg {
                display: flex;
                flex-wrap: wrap;
            }
        }
        @media screen and (max-width: 480px) {
            #logo {
                width: 800px;
            }

            
        }

       
        
  













